<!-- short -->
        <br><br>
        <div class="using-border py-3">
            <div class="inner_breadcrumb  ml-4">
                <ul class="short_ls">
                <li><h4>Checkout Zone</h4></li>
                </ul>
            </div>
        </div>
        <br><br>
<!-- //short-->

<section class="checkout py-lg-4 py-md-3 py-sm-3 py-3">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <div class="shop_inner_inf">
      <div class="privacy about">
        <h3>Checkout</h3>
        <div class="checkout-right">
          <h4>Your shopping cart contains:</h4>
          <table class="timetable_sub">

            <thead>
              <tr>
                <th>SL No.</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Remove</th>
              </tr>
            </thead>

            <tbody>
              <% i=0 %>
              <% @cart_items.each_with_index do |item, index|%>
              <tr class="rem1">
                <td class="invert"><%= i += 1 %></td>
                <td class="invert-image"><img src=<%= @items[index].image_url %>, class="card-img-top" alt="..."></td>
                <td class="invert">
                  <div class="quantity">
                    <div class="quantity-select">
                      <%= link_to cart_element_path(cart_elem_id: @cart_items[index].id, quantity: -1), method: :put do%>
                      <div class="entry value-minus">&nbsp;</div>
                      <% end %>
                      <div class="entry value"><span><%= item.quantity %></span></div>
                      <%= link_to cart_element_path(cart_elem_id: @cart_items[index].id, quantity: 1), method: :put do%>
                      <div class="entry value-plus active">&nbsp;</div>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td class="invert"><%= @items[index].title %></td>
                <td class="invert"><%= @items[index].price %></td>
                <td class="invert">
                  <%= link_to cart_element_path(cart_elem_id: @cart_items[index].id), method: :delete do %>
                  <%= content_tag :span, "", :class => "far fa-trash-alt", style: 'color:#000000' %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>

          </table>
        </div>

        <div class="col-md-8 address_form">
          <h4>Your delivery adress is: <%= current_user.email %></h4>
          <form action="payment.html" method="post" class="creditly-card-form agileinfo_form">
            <section class="creditly-wrapper wrapper">
              <div class="information-wrapper">
                <div class="first-row form-group">
                  <div class="controls">
                    <label class="control-label">Change your delivery adress (optional): </label>
                    <input class="billing-address-name form-control" type="text" name="name" placeholder="New email adress">
                  </div>
                  <button class="submit check_out">Delivery to this Address</button>
                </div>
              </section>
            </form>
          </div>

          <div class="checkout-left">
            <div class="col-md-4 checkout-left-basket">
              <h4><%= link_to "Pay now", new_charge_path %></h4>                  
              <ul>
                <li>Total <i>-</i> <span><%= @amount %> €</span></li>
              </ul>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
<div class="clearfix"> </div>
<div class="clearfix"></div>
</div>
</section>
</br>