<section class="about py-lg-4 py-md-3 py-sm-3 py-3">

  <div class="container">

    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Sign in</h5>
    </div>
    <div class="register-form">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">

          <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email" %>
        </div>

        <div class="field">

          <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class:"btn subscrib-btnn"  %>
        </div>
      <% end %>

    </div>

  </div>


<%= render "devise/shared/links" %>

</section>

