<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Purchase confirmation</h1>
    <p> Order N° : <%= @order.id %></p>
    <p> Thanks for purchasing : </p>
    <% @items.each do |item| %>
      <p><%= item.title %></p>
      <p><%= item.description %></p>
      <p><%= item.price %></p>
      <p><img src=<%= item.image_url %> alt="..."></p>
    <% end %>
  </body>
</html>