<div class='container'>
	<div class='card-deck'>
		<div class="row">

			<% @items.each do |item| %>
				<div class="card border-primary mb-3" style="min-width: 20rem;">
        <% if item.picture.attached? == true%>
          <%= image_tag item.picture, alt: 'picture', class: "card-img-top" %>
        <% else %>
					<img src="<%= item.image_url %>" class="card-img-top">
        <% end %>
					<%= item.title %>
					<%= item.description %>
					<%= item.price %>			
					<%= link_to "Show", item_path(item.id), class: "btn-primary"%>
				</div>
			<% end %>
		</div>
	</div>
</div>
